# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\School\thema11\advanced_datamining\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
